body {
  display: grid;
  place-items: center;
  gap: 10px;
  margin: 0px;
  font-family: monospace;

  background-image: url("./img/minimalist-forest.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  background: rgb(184, 160, 160);
  border-radius: 5px;
  color: black;
}
a:hover {
  background: rgb(255, 255, 136);
}

div img {
  max-width: 30px;
}

.panel {
  display: grid;
  justify-content: center;
  /* justify-items: center; */
  max-width: 400px;
  max-height: 800px;
  padding-bottom: 5px;

  background: rgb(255, 255, 255, 0.6);
  border: solid 3px #fff;
  border-radius: 10px;
}

.name,
.description {
  text-align: left;
  margin: 0px;
}

.name {
  font-size: 23px;
  font-weight: 600;
  margin-top: 15px;
}

.description {
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.container-selfie {
  display: grid;
  grid-template-columns: auto 1fr;
}

.selfie {
  padding: 15px;
  max-width: 180px;
  border-radius: 300px;
}

.stacks {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.info {
  margin: auto 0;
}

.panel-text {
  font-size: 18px;
  text-align: center;
  padding: 10px;
  font-weight: 600;
}

.link {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: center;
  gap: 10px;
  padding: 5px 10px;
  width: 170px;
}

.panel-links {
  display: grid;
  gap: 5px;
  align-items: center;
  place-items: center;
}

.link span {
  align-self: center;
}
